@import "./iconfont.scss";
body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
body, html{
  width:100%;
  height: 100%;
}
body{
  background-image: url(../../src/assets/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -140px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  padding-top: 1px;
  box-sizing: border-box;
}