@import "./iconfont.scss";
body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
body, html{
  width:100%;
  height: 100%;
}
//body{
//  background-image: url(./assets/img/1.jpg);
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position-y: -140px;
//}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  padding-top: 1px;
  box-sizing: border-box;
}
.el-form-item{
  .el-form-item__content{
    margin-left: 0!important;
  }
}