// 修改element-ui主题色及样式
$--color-primary: #27cac7;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-form-item{ // 全局表单
    .el-form-item__content{
        margin-left: 0!important;
    }
}
.chat-conversation-ul{
    .el-tooltip__popper.is-dark{
        background: #fff;
        color: #ff0000;
    }
}
.vchat-Detail{ // 详情页
    .el-carousel__indicators{
        transform: translateX(0);
        display: flex;
        bottom: 10px;
        right: 2px;
        left: inherit;
        .el-carousel__button{
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
        .el-carousel__indicator{
            padding: 6px 4px;
        }
    }
}

.personForm { // 个人资料页
    width: 600px;
    .el-form-item__label {
        text-align: left;
    }

    .avatar-uploader {
        .el-upload--picture-card {
            overflow: hidden;
            border-radius: 50%;
        }
    }

    .el-radio__input.is-checked .el-radio__inner {
        border-color: #7e7e7e;
        background: #7e7e7e;
    }
    .el-radio__input.is-checked + .el-radio__label {
        color: #606266;
    }
    .el-form-item:first-child .el-form-item__content, .el-form-item:last-child .el-form-item__content {
        display: flex;
        margin-left: 150px !important;
    }
    .el-form-item:not(:first-child):not(:last-child) .el-form-item__content {
        display: flex;
        align-items: center;
        height: 40px;
        margin-left: 150px !important;
    }
}

.vchat-search{ // 搜索
    .el-select{
        .el-input__suffix{
            right: -4px;
        }
        .el-input--suffix .el-input__inner{
            padding: 0 5px;
            border: 1px solid #dcdfe6;
        }
    }
    .el-input-group--append{
        width: calc(100% - 62px);
    }
    .el-input--suffix .el-input__inner{
        height: 32px;
        font-size: 12px;
    }
    .el-input-group--append .el-input__inner{
        border: 1px solid #dcdfe6;
        border-right: none;
        outline: none;
        background-color: #f5faf9;
    }
    .el-input-group__append, .el-input-group__prepend{
        border-left: none;
        background-color: #f5faf9;
    }
}
.el-select-dropdown__item{ // 弹框
    font-size: 12px;
}
.el-tag{ // 标签
    padding: 0 5px;
    height: 26px;
    line-height: 26px;
    margin-right: 5px;
}

.el-slider__button{ // 滑块按钮
    width:10px;
    height: 10px;
}

.mesBadge{ // vchat
    .el-badge__content.is-fixed{
        right: 30px;
    }
}
.headerBadg{ // header
    .el-badge__content.is-fixed{
        top: 20px;
    }
}
.vchat-emoji{ // 表情
    .el-tabs__item{
        padding: 0 !important;
    }
    .el-tabs__content{
        height: 202px;
        padding: 5px;
        box-sizing: border-box;
    }
    .el-tabs{
        height: 100%;
        border-radius: 5px;
    }
}

.vchat-todo{
    .el-dialog{
        width:400px;
    }
    .el-input{
        width:250px;
    }
    .el-textarea{
        width:250px;
    }
    .el-form-item__error{
        left: 120px;
    }
}
.el-popover__title{
    border-bottom: 2px solid #27cac7a8;
    padding-bottom: 5px;
}