.move-leave-active, .move-enter-active {
  position: absolute;
  left:0;
  top:0;
  transition: all .5s cubic-bezier(.71,.15,.26,.82);
}
.move-enter{
  left:100%;
  transform: translateX(100%);
}
.move-leave-to {
  transform: translateX(-100%);
}