// projectTheme
/*********************************************************/
// personalMain.vue
/*主题名称*/
$theme: vchat;
/*头部颜色*/
$vchat-header-backgroudColor: #27cac7;
$vchat-logo-color: #fff;
$vchat-header-handleList-i-color: #1fbeca;
$vchat-header-handleList-a-color: #595959;
$vchat-header-handleList-hover-bgcolor: #1fbeca;
$vchat-header-handleList-hover-color: #fff;